In [58]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [2]:
train = pd.read_csv("UNSW_NB15_training-set.csv")
test = pd.read_csv("UNSW_NB15_testing-set.csv")
data = pd.concat([train, test], axis=0)

In [3]:
data.head()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0

In [4]:
data.describe()

,id,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
count,257673.000000,257673.000000,257673.000000,257673.000000,2.576730e+05,2.576730e+05,2.576730e+05,257673.000000,257673.000000,2.576730e+05,...,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000,257673.000000
mean,72811.823858,1.246715,19.777144,18.514703,8.572952e+03,1.438729e+04,9.125391e+04,180.000931,84.754957,7.060869e+07,...,5.238271,4.032677,8.322964,0.012819,0.012850,0.132005,6.800045,9.121049,0.014274,0.639077
std,48929.917641,5.974305,135.947152,111.985965,1.737739e+05,1.461993e+05,1.603446e+05,102.488268,112.762131,1.857313e+08,...,8.160822,5.831515,11.120754,0.116091,0.116421,0.681854,8.396266,10.874752,0.118618,0.480269
min,1.000000,0.000000,1.000000,0.000000,2.400000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,32210.000000,0.000008,2.000000,0.000000,1.140000e+02,0.000000e+00,3.078928e+01,62.000000,0.000000,1.231800e+04,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000
50%,64419.000000,0.004285,4.000000,2.000000,5.280000e+02,1.780000e+02,2.955665e+03,254.000000,29.000000,7.439423e+05,...,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,3.000000,4.000000,0.000000,1.000000
75%,110923.000000,0.685777,12.000000,10.000000,1.362000e+03,1.064000e+03,1.250000e+05,254.000000,252.000000,8.000000e+07,...,4.000000,3.000000,8.000000,0.000000,0.000000,0.000000,8.000000,11.000000,0.000000,1.000000
max,175341.000000,59.999989,10646.000000,11018.000000,1.435577e+07,1.465753e+07,1.000000e+06,255.000000,254.000000,5.988000e+09,...,59.000000,46.000000,65.000000,4.000000,4.000000,30.000000,60.000000,62.000000,1.000000,1.000000

In [5]:
data[data['service']=='-']

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,1,0,0,0,1,1,0,Normal,0
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0
5,6,0.380537,tcp,-,FIN,10,6,534,268,39.417980,...,1,40,0,0,0,2,39,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,82328,0.000005,udp,-,INT,2,0,104,0,200000.005100,...,1,2,0,0,0,2,1,0,Normal,0
82328,82329,1.106101,tcp,-,FIN,20,8,18062,354,24.410067,...,1,1,0,0,0,3,2,0,Normal,0
82329,82330,0.000000,arp,-,INT,1,0,46,0,0.000000,...,1,1,0,0,0,1,1,1,Normal,0
82330,82331,0.000000,arp,-,INT,1,0,46,0,0.000000,...,1,1,0,0,0,1,1,1,Normal,0
82331,82332,0.000009,udp,-,INT,2,0,104,0,111111.107200,...,1,1,0,0,0,1,1,0,Normal,0

In [6]:
data.replace({'service': '-'}, np.nan, inplace=True)

In [7]:
data.isnull().sum()

id                        0
dur                       0
proto                     0
service              141321
state                     0
spkts                     0
dpkts                     0
sbytes                    0
dbytes                    0
rate                      0
sttl                      0
dttl                      0
sload                     0
dload                     0
sloss                     0
dloss                     0
sinpkt                    0
dinpkt                    0
sjit                      0
djit                      0
swin                      0
stcpb                     0
dtcpb                     0
dwin                      0
tcprtt                    0
synack                    0
ackdat                    0
smean                     0
dmean                     0
trans_depth               0
response_body_len         0
ct_srv_src                0
ct_state_ttl              0
ct_dst_ltm                0
ct_src_dport_ltm          0
ct_dst_sport_ltm          0
ct_dst_src_ltm            0
is_ftp_login              0
ct_ftp_cmd                0
ct_flw_http_mthd          0
ct_src_ltm                0
ct_srv_dst                0
is_sm_ips_ports           0
attack_cat                0
label                     0
dtype: int64

In [8]:
data.shape

(257673, 45)

In [9]:
data.dropna(inplace=True)
data.shape

(116352, 45)

In [10]:
data['attack_cat'].value_counts()

attack_cat
Generic           57956
Normal            29113
Exploits          21480
DoS                2508
Fuzzers            2266
Reconnaissance     2207
Analysis            564
Worms               148
Backdoor            110
Name: count, dtype: int64

In [11]:
data['state'].value_counts()

state
INT    57894
FIN    47350
CON    10859
REQ      234
RST       14
ACC        1
Name: count, dtype: int64

In [12]:
data

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
11,12,2.093085,tcp,smtp,FIN,62,28,56329,2212,42.520967,...,1,2,0,0,0,1,1,0,Normal,0
15,16,0.000002,udp,snmp,INT,2,0,138,0,500000.001300,...,1,4,0,0,0,2,1,0,Normal,0
17,18,0.393556,tcp,http,FIN,10,8,860,1096,43.195886,...,1,2,0,0,1,1,3,0,Normal,0
21,22,0.338017,tcp,http,FIN,10,6,998,268,44.376468,...,1,1,0,0,1,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81462,81463,0.818276,tcp,http,FIN,60,14,68199,612,89.211954,...,1,2,0,0,1,1,1,0,Normal,0
81466,81467,0.825170,tcp,http,FIN,60,14,68199,612,88.466621,...,1,1,0,0,1,1,1,0,Normal,0
81518,81519,0.874942,tcp,http,FIN,60,14,68199,612,83.434101,...,1,2,0,0,1,1,2,0,Normal,0
81540,81541,0.740231,tcp,http,FIN,60,14,68199,612,98.617867,...,1,3,0,0,1,1,3,0,Normal,0
82194,82195,1.910248,tcp,ftp,FIN,62,20,68109,1026,42.402870,...,1,1,0,0,0,28,1,0,Normal,0

In [13]:
features = pd.read_csv("UNSW-NB15_features.csv",encoding='cp1252')
#CP-1252, also known as Windows-1252, is a single-byte character encoding used by default in Microsoft Windows for Western European languages.

In [14]:
features.head()

   No.    Name    Type               Description
0    1   srcip  nominal        Source IP address
1    2   sport  integer       Source port number
2    3   dstip  nominal   Destination IP address
3    4  dsport  integer  Destination port number
4    5   proto  nominal     Transaction protocol

In [15]:
features['Type '] = features['Type '].str.lower()

In [16]:
nominal_names = features['Name'][features['Type ']=='nominal']
integer_names = features['Name'][features['Type ']=='integer']
binary_names = features['Name'][features['Type ']=='binary']
float_names = features['Name'][features['Type ']=='float']

In [17]:
cols = data.columns
nominal_names = cols.intersection(nominal_names)
integer_names = cols.intersection(integer_names)
binary_names = cols.intersection(binary_names)
float_names = cols.intersection(float_names)

In [18]:
# Convert columns listed in integer_names, binary_names, and float_names to numeric type
for col_list in [integer_names, binary_names, float_names]:
    data[col_list] = data[col_list].apply(pd.to_numeric)

In [19]:
num_col = data.select_dtypes(include='number').columns
cat_col = data.columns.difference(num_col)
cat_col = cat_col[1:]
cat_col

Index(['proto', 'service', 'state'], dtype='object')

In [20]:
data_cat = data[cat_col].copy()
data_cat.head()

   proto service state
3    tcp     ftp   FIN
11   tcp    smtp   FIN
15   udp    snmp   INT
17   tcp    http   FIN
21   tcp    http   FIN

In [21]:
data_cat = pd.get_dummies(data_cat, columns=cat_col, dtype=int)
data_cat.head()

,proto_tcp,proto_udp,service_dhcp,service_dns,service_ftp,service_ftp-data,service_http,service_irc,service_pop3,service_radius,service_smtp,service_snmp,service_ssh,service_ssl,state_ACC,state_CON,state_FIN,state_INT,state_REQ,state_RST
3,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
11,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
15,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
17,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
21,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0

In [44]:
data.shape

(116352, 45)

In [46]:
data = pd.concat([data, data_cat],axis=1)
data.shape

(116352, 65)

In [48]:
data.drop(columns=cat_col,inplace=True)
data.shape

(116352, 62)

In [50]:
num_col = list(data.select_dtypes(include='number').columns)
num_col.remove('id')
num_col.remove('label')
print(num_col)

['dur', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss', 'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin', 'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth', 'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm', 'ct_srv_dst', 'is_sm_ips_ports', 'proto_tcp', 'proto_udp', 'service_dhcp', 'service_dns', 'service_ftp', 'service_ftp-data', 'service_http', 'service_irc', 'service_pop3', 'service_radius', 'service_smtp', 'service_snmp', 'service_ssh', 'service_ssl', 'state_ACC', 'state_CON', 'state_FIN', 'state_INT', 'state_REQ', 'state_RST']

In [54]:
minmax_scale = MinMaxScaler(feature_range=(0, 1))
def normalization(df,col):
  for i in col:
    arr = df[i]
    arr = np.array(arr)
    df[i] = minmax_scale.fit_transform(arr.reshape(len(arr),1))
  return df

In [56]:
data = normalization(data.copy(),num_col)
data.describe()

,id,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,service_smtp,service_snmp,service_ssh,service_ssl,state_ACC,state_CON,state_FIN,state_INT,state_REQ,state_RST
count,116352.000000,1.163520e+05,116352.000000,116352.000000,116352.000000,116352.000000,116352.000000,116352.000000,116352.000000,116352.000000,...,116352.000000,116352.000000,116352.000000,116352.000000,116352.000000,116352.000000,116352.000000,116352.000000,116352.000000,116352.000000
mean,83665.165962,1.332521e-02,0.001777,0.001565,0.000927,0.000946,0.106553,0.623449,0.310928,0.021316,...,0.059380,0.000937,0.012943,0.000739,0.000009,0.093329,0.406955,0.497576,0.002011,0.000120
std,56882.163996,6.734705e-02,0.017082,0.012157,0.016551,0.012075,0.168396,0.457731,0.436521,0.034521,...,0.236336,0.030593,0.113031,0.027177,0.002932,0.290894,0.491268,0.499996,0.044801,0.010969
min,4.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28733.000000,1.333344e-07,0.000094,0.000000,0.000003,0.000000,0.000048,0.138393,0.000000,0.000009,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,72312.500000,1.591679e-05,0.000094,0.000182,0.000005,0.000011,0.006173,0.995536,0.114173,0.005349,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,139972.500000,1.037482e-02,0.000845,0.000908,0.000060,0.000089,0.125000,0.995536,0.992126,0.024740,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,175341.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [60]:
bin_label = pd.DataFrame(data.label.map(lambda x:'normal' if x==0 else 'anomaly'))

In [62]:
bin_data = data.copy()
bin_data['label']=bin_label

In [66]:
le1 = preprocessing.LabelEncoder()
enc_label = bin_label.apply(le1.fit_transform)
bin_data['label'] = enc_label
le1.classes_

array(['anomaly', 'normal'], dtype=object)

In [68]:
np.save("le1_classes.npy",le1.classes_,allow_pickle=True)

In [70]:
multi_data = data.copy()
multi_label = pd.DataFrame(multi_data.attack_cat)
multi_data = pd.get_dummies(multi_data,columns=['attack_cat'],dtype=int)

In [72]:
le2 = preprocessing.LabelEncoder()
enc_label = multi_label.apply(le2.fit_transform)
multi_data['label'] = enc_label
le2.classes_

array(['Analysis', 'Backdoor', 'DoS', 'Exploits', 'Fuzzers', 'Generic',
       'Normal', 'Reconnaissance', 'Worms'], dtype=object)

In [74]:
num_col.append('label')

In [76]:
corr_bin = bin_data[num_col].corr()

In [78]:
num_col = list(multi_data.select_dtypes(include='number').columns)

In [80]:
corr_multi = multi_data[num_col].corr()

In [82]:
corr_ybin = abs(corr_bin['label'])
highest_corr_bin = corr_ybin[corr_ybin >0.3]
highest_corr_bin.sort_values(ascending=True)

dload               0.324510
sload               0.346997
ct_src_ltm          0.358125
rate                0.358649
ct_dst_ltm          0.369918
ct_src_dport_ltm    0.429394
ct_dst_src_ltm      0.446370
ct_srv_dst          0.456873
ct_srv_src          0.459378
ct_dst_sport_ltm    0.472509
state_CON           0.533149
state_INT           0.572506
sttl                0.714563
ct_state_ttl        0.801607
label               1.000000
Name: label, dtype: float64

In [84]:
bin_cols = highest_corr_bin.index
bin_cols

Index(['rate', 'sttl', 'sload', 'dload', 'ct_srv_src', 'ct_state_ttl',
       'ct_dst_ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'ct_src_ltm', 'ct_srv_dst', 'state_CON', 'state_INT', 'label'],
      dtype='object')

In [86]:
bin_data = bin_data[bin_cols].copy()
bin_data

,rate,sttl,sload,dload,ct_srv_src,ct_state_ttl,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,ct_src_ltm,ct_srv_dst,state_CON,state_INT,label
3,0.000014,0.138393,0.000001,0.000150,0.000000,0.166667,0.017241,0.0,0.0,0.034483,0.016949,0.000000,0.0,0.0,1
11,0.000043,0.138393,0.000092,0.000364,0.017241,0.166667,0.000000,0.0,0.0,0.017241,0.000000,0.000000,0.0,0.0,1
15,0.500000,0.995536,0.119792,0.000000,0.000000,0.333333,0.000000,0.0,0.0,0.051724,0.016949,0.000000,0.0,1.0,1
17,0.000043,0.138393,0.000007,0.000869,0.034483,0.166667,0.000000,0.0,0.0,0.017241,0.000000,0.034483,0.0,0.0,1
21,0.000044,0.995536,0.000009,0.000236,0.086207,0.166667,0.000000,0.0,0.0,0.000000,0.016949,0.034483,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81462,0.000089,0.995536,0.000285,0.000248,0.000000,0.166667,0.000000,0.0,0.0,0.017241,0.000000,0.000000,0.0,0.0,1
81466,0.000088,0.995536,0.000282,0.000246,0.000000,0.166667,0.758621,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,1
81518,0.000083,0.995536,0.000266,0.000232,0.017241,0.166667,0.379310,0.0,0.0,0.017241,0.000000,0.017241,0.0,0.0,1
81540,0.000099,0.995536,0.000315,0.000274,0.034483,0.166667,0.413793,0.0,0.0,0.034483,0.000000,0.034483,0.0,0.0,1
82194,0.000042,0.995536,0.000122,0.000182,0.000000,0.166667,0.000000,0.0,0.0,0.000000,0.457627,0.000000,0.0,0.0,1

In [88]:
bin_data.to_csv('bin_data.csv')

In [90]:
corr_ymulti = abs(corr_multi['label'])
highest_corr_multi = corr_ymulti[corr_ymulti >0.3]
highest_corr_multi.sort_values(ascending=True)

state_FIN              0.328058
proto_udp              0.330215
swin                   0.330215
proto_tcp              0.330215
dwin                   0.330234
service_dns            0.331124
attack_cat_DoS         0.353847
synack                 0.448737
tcprtt                 0.500531
ackdat                 0.512859
attack_cat_Normal      0.582817
dttl                   0.594611
attack_cat_Exploits    0.730763
label                  1.000000
Name: label, dtype: float64

In [92]:
print(corr_ymulti[corr_ymulti >0.3])

dttl                   0.594611
swin                   0.330215
dwin                   0.330234
tcprtt                 0.500531
synack                 0.448737
ackdat                 0.512859
label                  1.000000
proto_tcp              0.330215
proto_udp              0.330215
service_dns            0.331124
state_FIN              0.328058
attack_cat_DoS         0.353847
attack_cat_Exploits    0.730763
attack_cat_Normal      0.582817
Name: label, dtype: float64

In [94]:
multi_cols = highest_corr_multi.index
multi_cols

Index(['dttl', 'swin', 'dwin', 'tcprtt', 'synack', 'ackdat', 'label',
       'proto_tcp', 'proto_udp', 'service_dns', 'state_FIN', 'attack_cat_DoS',
       'attack_cat_Exploits', 'attack_cat_Normal'],
      dtype='object')

In [96]:
multi_data = multi_data[multi_cols].copy()
multi_data.to_csv('multi_data.csv')